@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
h1 {
  color: rgb(15, 15, 16);
  font-size: 50px;
  font-family: "Satisfy", cursive;
  text-align: center;
}
input {
  height: 6vh;
  width: 30vw;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}
button {
  height: 6vh;
  width: 15vw;
  border-radius: 10px;
  font-size: 14px;
}
ul {
  margin-top: 6px;
  list-style: none;
}
li {
  color: rgb(15, 15, 16);
  text-align: center;
  margin-top: 5px;
  font-family: "Satisfy", cursive;
  font-size: 25px;
}
